@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* INDEX */
body {
    font-family: 'Poppins', sans-serif;
}

.body-index{
    background-color: #276E90;
}

.content {
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.05);
}

.signin-text {
    font-style: normal;
    font-weight: 600;
}

.imagen {
    max-width:100%;
    height: auto;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #276E90;
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 0px;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.boton {
    border-color: #276E90;
    background-color: #276E90;
    color: #fff;
}

.boton:hover {
    border-color: #276E90;
    background-color: #fff;
    color: #276E90;
}

/* BARRA DE NAVEGACION */
.barra {
    background-color: #0A3143;
}

.btn-cerrar {
    background-color: #0A3143 !important;
    border: none;
}

/* HOME */
.btn-seleccion {
    background-color: #276E90;
    border-radius: 0;
}

.btn-seleccion:hover {
    color: #EFEFEF;
    border-color: #E6621F;
    background-color: #E6621F;
}

.card-examen {
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 0px; 
}

.btn-reserva {
    width: 100%;
    border-top: 0px; 
}

/* TABLAS */
.tabla {
    font-size: 16px;
    width: 100%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
}

.tabla th {
    font-size: 16px;
    background-color:rgba(54, 162, 235, 0.2);
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: rgba(54, 162, 235, 1);
    text-align:center;
}

.tabla th {
    background-color: rgba(54, 162, 235, 0.05);
}

.tabla td {
    font-size:16px;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: rgba(54, 162, 235, 1);
}

.tabla tr:hover, .tabla th:hover{
    background-color:#ffffff;
}

/* SELECCION */
.acordeon {
    color: #fefefe !important;
    text-decoration: none;
    list-style: none;
}

.acordeon:hover {
    text-decoration: none;
}

.acordeon-seleccion {
    background-color: #276E90
}

.acordeon-seleccion:hover {
    background-color: #E6621F;
}

/* MARGENES */
.margen-derecha {
    margin-right: 10px;
}

.margen-izquierda {
    margin-left: 10px;
}

.margen-arriba {
    margin-top: 10px;
}

.contenedor {
    margin-top: 30px;
}






